<div class="login_container floatleft">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field_container login_element">
      <%= f.label :player_name, class: 'floatleft' %>
      <%= f.text_field :player_name, class: 'floatright' %>
    </div>

    <div class="field_container login_element">
      <%= f.label :email, class: 'floatleft'%>
      <%= f.email_field :email, class: 'floatright' %>
    </div>

    <div class="field_container">
      <%= f.label :password, 'New Password', class: 'floatleft' %>
      <%= f.password_field :password, class: 'floatright', placeholder: "(leave blank if you don't want to change it)" %>
    </div>

    <div class="field_container">
      <%= f.label :password_confirmation, "Confirmation", class: 'floatleft' %>
      <%= f.password_field :password_confirmation, class: 'floatright', placeholder: "Password Confirmation" %>
    </div>

    <div class="field_container">
      <%= f.label :current_password, "Current".html_safe, class: 'floatleft' %>
      <%= f.password_field :current_password, class: 'floatright', placeholder: "(Enter current password to confirm changes)" %>
    </div>

    <div class="field_container_remember_me">
      <%= f.submit "Update", class: 'sign_in_button floatright' %>
    </div>
  <% end %>
</div>

<div class="sign_up_container">
  <%= link_to 'Profile', profile_url, class: 'floatleft' %>
  <%= link_to 'Logout', destroy_user_session_url, :method => :delete, class: 'floatright' %>
</div>
