%h1.row
  = @group.name

%h4.row
  - if can? :update, Group
    = link_to "Edit", edit_group_path
  = link_to "Back", groups_path
= image_tag @qr
= link_to "Download", @qr, target: "_blank", download: @group.name+"-login-"+DateTime.now().strftime("%F")+".png"
%h5
  = @group.code

%h2.row
  %span Players
  <a href="#myModal" role="button" class="btn" data-toggle="modal">Add Players</a>

-if @group.users.count==0
  = "No Players in Group"

%ul
  - @group.users.each do |user|
    %li
      = user.player_name


#myModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel
      Players for
      = @group.name
  =simple_form_for 'player_group',url: add_user_group_path(@group), html: {method: :put,id: :players}, remote: true  do |f|

    .modal-body
      = f.collection_check_boxes :user_ids, User.all, :id, :player_name

    .modal-footer
      = f.submit 'Update Participants', class: "btn btn-primary"
      %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close



:javascript
  $(document).ready(function() {
    $('.modal-body').dynatable({
      table:{
        bodyRowSelector: 'span',
        rowReader: function(index, item, record) {
          var $item = $(item);
          record.name = $item.find('.collection_check_boxes').text();
        }
      },
      features:{
        paginate: true,
        recordCount: true,
        search: true,
        pushState: false,
      },
      inputs: {
        queries: null,
        processingText: ''
      }
    });


    $('form#players')
    .bind('ajax:error',function(evt, data, status, xhr){
    })
    .bind('ajax:success', function(evt, data, status, error){
      alert(data.message);
    });
  });