%h1.row
  = @group.name

%h4.row
  - if can? :update, Group
    = link_to "Edit", edit_group_path
  = link_to "Back", groups_path
= image_tag @qr
= link_to "Download", @qr, target: "_blank", download: @group.name+"-login-"+DateTime.now().strftime("%F")+".png"
%h5
  = @group.code
%h2.row
  %span Players
  <a href="#myModal" role="button" class="btn" data-toggle="modal">Add Players</a>

-if @group.users.count==0
  = "No Players in Group"

%ul#users
  - @group.users.each do |user|
    %li
      = user.player_name
#myModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel
      Players for
      = @group.name
  =simple_form_for 'player_group',url: add_user_group_path(@group), html: {method: :put,id: :players}, remote: true  do |f|

    .modal-body
      #searchbox
        %label.btn#apply_search Search
        <input id="search" type="text"></input>

      #modal=image_tag "ajax.gif",class: 'loader hide'

      #user_checkboxes
        = f.collection_check_boxes :user_ids, @users, :id, :player_name
      #pagination
        = paginate @users,remote: true, params: {controller: 'users', action: 'index'}

    .modal-footer
      = f.submit 'Update Participants', class: "btn btn-primary", id: "submit"
      %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close


:plain
  <script id="user" type="text/html">
    <span>
      <input id="player_group_user_ids_{{ id }}" name="player_group[user_ids][]" type="checkbox" value="{{ id }}">
      <label class="collection_check_boxes" for="player_group_user_ids_{{ id }}">{{ player_name }}</label>
    </span>
  </script>

:javascript
  $(document).ready(function() {
    $('form#players')
    .bind('ajax:error',function(evt, data, status, xhr){})
    .bind('ajax:complete',function(xhr, status){$("#modal").hide();})
    .bind('ajax:success', function(evt, data, status, error){
      $("#modal").hide();
      var html = '';
      //Add new users to player list
      if(data.users != undefined){
        data.users.forEach(function(user){
          html += '<li>'+user.player_name+'</li>';
        });
        $("#users").html(html);
        $('.modal-body').before('<div class="success">' + data.message +'</div>');
        $('.success').fadeOut(2000);
      }
    });

    $("#pagination")
    .bind('ajax:beforeSend',function(event,xhr, settings){
      var name =  $("#search").val();
      if(name) settings.url += '&player_name='+name;
      $("#modal").fadeIn(100);
    })
    .bind('ajax:success', function(evt, data, status, error){
      data = jQuery.parseJSON(data);
      page = data.page;
      data = data.users;
      $("#user_checkboxes").html('');

      var temp = '';
      for (var key in data) {
        temp = ich.user(data[key]);
        $("#user_checkboxes").append(temp);
      }
    });

    $("#apply_search").click(function(){
      $('.pagination > span > a:first').click();
      $("#modal").hide();
    });
  });