%h1= @user.player_name
= simple_form_for @user do |u|
  = u.input :consented
  Researcher Roles
  = u.association :roles, :collection => ResearcherRole.all, :as => :check_boxes
  = u.button :submit 
  
