%ul
  - @users.each do |user|
    %li
      = link_to user do 
        = user.email
        = user.created_at

= paginate @users

Find Player
= form_tag find_users_path do
  = label_tag 'Player name'
  = text_field_tag :player_name 
  = submit_tag 'search'
