.login_container
  = form_for(@user, :url => reset_password_users_path, :html => { :method => :put }) do |f|
    = error_messages_for @user

    .field_container.login_element
      = f.label "player_name", 'Player Name', class: 'floatleft'
      = f.text_field "player_name", class: 'floatright'

    .field_container.login_element
      = f.label "password", "New Password", class: 'floatleft'
      = f.text_field "password", class: 'floatright'

    .field_container_remember_me
      = f.submit "Update", class: 'sign_in_button floatright'
