%h1=@user.player_name

%script
  != "playtimes = #{@playtimes.to_json};"
  != "names = #{@names.to_json};"
/%script{src: '/assets/session_playtime_graph.js', type: 'text/javascript'}
%script{src: '/assets/session_chart.js', type: 'text/javascript'}
%div{id: 'playtime_graph'}
%canvas{id: 'playtime_chart', width: 800, height: 500}




-if @session_times != nil
  %h3= 'Sessions played: ' + @session_times.count.to_s
  -@session_times.each do |key, value|
    %p= key.to_s + " : " +  value.to_s + " minutes"


