%ul
  %h1= @user.player_name
  %h2= @user.email
  - if can? :manage, @user
    = link_to 'Edit', edit_user_path
  %br
  %br
  %br
  %h2= 'Roles:'
  -@user.roles.each do |role|
    %br
    - if role.game_id != nil
      = link_to role.game.name, game_path(role.game)
    - else
      = role.name
