.content.full
  .container
    %p.header Password Reset

    .subcontainer
      = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
        = devise_error_messages!
        .field_container.login_element
          = f.label :email, class: 'floatleft'
          = f.text_field :email, class: 'floatright'
        .field_container_remember_me.full
          = f.submit "Send me reset password instructions", class: 'green_button left'