.content.full
  .container
    %p.header Profile Update
    .subcontainer
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
        = devise_error_messages!
        .login_element
          = f.label :player_name, 'Player name', class: 'floatleft'
          = f.text_field :player_name, class: 'floatright', placeholder: 'Player Name'
        .login_element
          = f.label :email, 'Email', class: 'floatleft'
          = f.text_field :email, class: 'floatright', placeholder: 'Email'
        .login_element
          = f.label :password, class: 'floatleft'
          = f.password_field :password, class: 'floatright', placeholder: 'Password'
        .login_element
          = f.label :password_confirmation, 'Confirm', class: 'floatleft'
          = f.password_field :password_confirmation, class: 'floatright', placeholder: 'Password Confirmation'
        .full
          = f.submit "Update Profile", class: 'green_button right'