%ul.navigation
  -if current_user.admin?
    %li{class: ("active" if current_page? admin_users_path)}
      = link_to 'Admin Tools', admin_users_path
  -if can? :manage, Game
    %li{class: ("active" if current_page? games_path)}
      = link_to 'Games', games_path
  -if can? :read, Group
    %li{class: ("active" if current_page? groups_path)}
      = link_to 'Groups', groups_path
  -if current_user.admin?
    %li{class: ("active" if current_page? teacher_requests_users_path)}
      = link_to 'Teacher Requests', teacher_requests_users_path
  %li.editprofilelink
    = link_to 'Edit profile', edit_user_registration_url
  %li.logoutlink
    = link_to 'Logout', destroy_user_session_url, :method => :delete