- if user_signed_in?
  .welcome_or_error_container
    %p
      Welcome back
      %span.bold 
        ="#{current_user.player_name}!"
      
  = render 'welcome/nav'
  .login_container
    .floatleft
      %label
        = current_user.player_name
      .editprofilelink
        = link_to 'edit profile', edit_user_registration_url
      .logoutlink
        = link_to 'logout', destroy_user_session_url, :method => :delete

    .floatright
      = render 'games/list'