
%p.header Class Management
=simple_form_for(@group,url: class_path) do |f|
	.subcontainer
		.login_element
			= f.input :name
		= f.hidden_field :organization_id, value: params[:organization]

	.content.full
	%p.header Select Applications
	- f.collection_check_boxes :game_ids, @games,:id,:name do |b|
		=  b.label(class: "content one_third left") do
			.check_box.full
				= b.check_box
				.subcontainer.full
					%p.header.center_text
						= b.text
	.clear
	= f.button :submit,"Update Class",class: "green_button right"