.full.content.left
  .container
    %p.header User Management
    .one_half.left
      .subcontainer
        %p.header Students
        -if @group.users.count==0
          %p.small_text.center_text.full
            = "No Students in Class"
        -else 

          %ul.flagged_items
            - @group.users.each do |user|
              %li.full
                = user.player_name

                .student_management.right
                  = link_to  class_path(user), class: "" do
                    .edit_icon.right
                  = link_to  edit_class_path(user), class: "" do
                    .remove_icon.right
      .subcontainer
        %p.header Pending Invites
        -if @group.group_invites.count==0
          %p.small_text.center_text.full
            = "No Pending Invites"
        %ul.flagged_items
          - @group.group_invites.each do |invite|
            .content.full
              %li.small_text.two_thirds.left
                = invite.user.email
              %p.right.small_text.one_third
                = distance_of_time_in_words_to_now(invite.user.updated_at) + " ago"
    .one_half.right
      .subcontainer
        %p.header Import Student List
        =simple_form_for :import, url: import_class_path(@group) do |f|
          = f.input :file, as: :file, label: false, wrapper: false,accept: 'text/csv' ,input_html: { class: "file_import"} 
          %p.small_text.center_text.full
            Need a student import template? <a href="">Here you go.</a>
          = f.button :submit,"Import",class: "green_button right"
      .subcontainer
        = render "users/student_form"
