.row.games
  .container.full.left
    .element
      .title.left 
        = @org.name
        
.row
  .container.full.left
    .element
      .title Create New Game
      = form_for @game do |game|
        %p
        = game.label :name
        = game.text_field :name
        = game.file_field :image, as: :file
        = game.hidden_field :organization_id, value: params[:organization]
        %p
        = game.submit 'Add'