%h2= @game.name
%br
:javascript
  function DatetoUnix(data){
    return Math.round(new Date(data).getTime());
  }
  $(document).ready(function() {
    $('#data').dynatable({
      features:{
        paginate: false,
        recordCount: false
      }
    });

    $('.daterange input').datepicker({
      autoclose: true,
      todayHighlight: true
    });

    $('.csv-export').click(function(){
      var start = DatetoUnix($('.start').val());
      var end = DatetoUnix($('.end').val());
      var params = "";

      if(start){params+="&start="+start;};
      if(end){params+="&end="+end;};

      var url = "#{export_data_path('csv', gameName: @game.name)}"+params;
      window.location.href = url;
    });

    $('.json-export').click(function(){
      var start = DatetoUnix($('.start').val());
      var end = DatetoUnix($('.end').val());
      var params = "";

      if(start){params+="&start="+start;};
      if(end){params+="&end="+end;};

      var url = "#{export_data_path('json', gameName: @game.name)}"+params;
      window.location.href = url;
    });
  });


.row
  .span4
    %h2='Export'

    #datepicker
      .daterange
        %span.add-on From
        %input{type: :text,class: "input-small start",name: :start}
        %span.add-on To
        %input{type: :text,class: "input-small end",name: :end}
        %a.csv-export csv
        %a.json-export json


    <hr/>
    All participant data:
    = link_to export_data_path('csv', gameName: @game.name, user_ids: @game.user_ids) do
      = 'csv'
    = link_to export_data_path('json', gameName: @game.name, user_ids: @game.user_ids) do
      = 'json'
    <br/>
    All player data:
    = link_to export_data_path('csv', gameName: @game.name) do
      = 'csv'
    = link_to export_data_path('json', gameName: @game.name) do
      = 'json'
  .span4
    %h2='Game Versions'
    %ul
      - @game.implementations.each do |version|
        %li
          = version.name
          = link_to data_selection_data_path('html', app_token: version.client.app_token) do
            = 'data selection'


  .span4
    = render partial: 'search_users_form'


.row
  .span12
    %h2='Participants'
.row
  .span6
    %h3='Total number of players: ' + @users.count.to_s
  .span6
    %h3='Average time played: ' + @average_time.to_s
.row
  .span12
    %table.table.table-striped#data
      %thead
        %tr
          %th Player name
          %th Data
          %th Consented
          %th Last played
          %th Time played
          %th Context info
      %tbody
        - @users.each do |user|
          %tr
            %td
              = user.player_name
            %td
              = link_to data_by_game_user_path(user, 'csv', gameName: @game.name) do
                = 'csv'
              = link_to data_by_game_user_path(user, 'json', gameName: @game.name) do
                = 'json'
            %td
              = user.consented
            %td
              - unless user.instance_variable_get("@last_playtime").nil?
                = Time.at(user.instance_variable_get("@last_playtime")).strftime("%m/%d at %I:%M%p")
            %td
              -unless user.data(@game.name).empty?
                = link_to session_logs_user_path(user, gameName: @game.name) do
                  = 'playtime graph'
            %td
              -unless user.data(@game.name).empty?
                = link_to context_logs_user_path(user, gameName: @game.name) do
                  = 'context graph'

