%h2= @game.name
%br

:javascript
  $(document).ready(function() {
    $('#data').dynatable({
      features:{
        paginate: false,
        recordCount: false
      }
    });
  });
.row
  .span4
    Export all player data:
    = link_to export_data_path('csv', gameName: @game.name, user_ids: @game.user_ids) do
      = 'csv'
    = link_to export_data_path('json', gameName: @game.name, user_ids: @game.user_ids) do
      = 'json'


  .span4
    %h2='Game Versions'
    %ul
      - @game.implementations.each do |version|
        %li
          = version.name
          = link_to data_by_version_data_path('csv', gameName: @game.name, version: version.name, user_ids: @game.user_ids) do
            = 'csv'
          = link_to data_by_version_data_path('json', gameName: @game.name, version: version.name, user_ids: @game.user_ids) do
            = 'json'


  .span4
    = render partial: 'search_users_form'


.row
  .span12
    %h2='Players'
.row
  .span6
    %h3='Total number of players: ' + @users.count.to_s
  .span6
    %h3='Average time played: ' + @average_time.to_s
.row
  .span12
    %table.table.table-striped#data
      %thead
        %tr
          %th player name
          %th data
          %th data
          %th consented
          %th last played
          %th time played
          %th context info
      %tbody
        - @users.each do |user|
          %tr
            %td
              = user.player_name
            %td
              = link_to data_by_game_user_path(user, 'csv', gameName: @game.name) do
                = 'csv'
            %td
              = link_to data_by_game_user_path(user, 'json', gameName: @game.name) do
                = 'json'
            %td
              = user.consented
            %td
              = Time.at(user[:last_playtime]).strftime("%m/%d at %I:%M%p")
            %td
              -unless user.data(@game.name).empty?
                = link_to session_logs_user_path(user, gameName: @game.name) do
                  = 'playtime graph'
            %td
              -unless user.data(@game.name).empty?
                = link_to context_logs_user_path(user, gameName: @game.name) do
                  = 'context graph'

