%h1='Graph-a-tron 2000!'

.row
  - @implementations.each do |imp|
    - if @graph_params.app_token == imp.client.app_token 
      - div_class = 'btn-success'
    - else
      - div_class = 'btn-default'
    %div{class: 'btn ' + div_class} 
      = link_to select_graph_game_path(@game, 'html' , app_token: imp.client.app_token) do
        = imp.name

%br
.row
  - @graph_types.each do |t|
    - if @graph_params.graph_type == t 
      - div_class = 'btn-success'
    - else
      - div_class = 'btn-default'
    %div{class: 'btn ' + div_class} 
      = link_to select_graph_game_path(@game, 'html' , graph_type: t) do
        = t

%br
.row
  - @ranges.each do |t|
    - if @graph_params.time_range == t 
      - div_class = 'btn-success'
    - else
      - div_class = 'btn-default'
    %div{class: 'btn ' + div_class} 
      = link_to select_graph_game_path(@game, 'html' , time_range: t) do
        = t

%br
.row
  - @game_ids.each do |id|
    - if @graph_params.game_id == id 
      - div_class = 'btn-success'
    - else
      - div_class = 'btn-default'
    %div{class: 'btn ' + div_class} 
      = link_to select_graph_game_path(@game, 'html' , game_id: id) do
        = id

%br
.row
  - @keys.each do |key|
    - if @graph_params.key == key 
      - div_class = 'btn-success'
    - else
      - div_class = 'btn-default'
    %div{class: 'btn ' + div_class} 
      = link_to select_graph_game_path(@game, 'html' , key: key) do
        = key

- @fields.each do |depth, fields|
  %br
  .row
    - fields.each do |name|
      - if @graph_params.field_names[depth] == name 
        - div_class = 'btn-success'
      - else
        - div_class = 'btn-default'
      %div{class: 'btn ' + div_class} 
        = link_to select_graph_game_path(@game, 'html' , field_name: name, field_depth: depth) do
          = name


%br
%br
%br
= link_to real_time_chart_data_path('html', url: @url) do
  = 'graph'

