%ul
  %h1= @game.name
  - if can? :manage, @game
    = link_to 'Edit', edit_game_path
  %br

  = link_to export_data_path('csv', gameName: @game.name, user_ids: @game.user_ids) do
    = 'Export all participant data'
  

  %h1='Game Versions'
  - @game.schemas.each do |version|
    = link_to data_by_version_data_path('csv', gameName: @game.name, user_ids: @game.user_ids) do 
      = version.name
  
  
  %br 
  = render partial: 'search_users_form'
  %br
  %h1='Players'
  %h2='Total number of players: ' + @users.count.to_s
  %h2='Average time played: ' + @average_time.to_s
  - @users.each do |user|
    %li
      = link_to data_by_game_user_path(user, 'csv', gameName: @game.name) do 
        = user.player_name
        = user.consented 
        - timeplayed =  user.data.last.created_at - user.data.first.created_at
        = timeplayed



