%ul
  %h1= @game.name
  - if can? :manage, @game
    = link_to 'Edit', edit_game_path
  %br

  %h1='Game Versions'
  - @game.schemas.each do |s|
    %li
      = s.name
  %br
  %h1='Players'
  - @users.each do |user|
    %li
      = link_to data_by_game_user_path(user, 'csv', gameName: @game.name) do 
        = user.player_name
        = user.consented 


