.row

  .container.full.left

    .element
      %h2#game
        = @game.name

      = link_to 'Game Statistics', statistics_game_path(@game)
      %br
      = link_to 'Query Builder', select_graph_game_path(@game)
      %br

  .container.one_third.left  
    .element
      - if current_user.role?(@game.developer_role) || current_user.admin?
        %h3 Developer Tools
        = link_to 'Developer Tools', developer_tools_game_path(@game)
  .container.one_third.left  
    .element
      - if current_user.role?(@game.researcher_role) || current_user.admin?
        %h3 Researcher Tools
        = link_to 'Participant management tools', researcher_tools_game_path(@game)
        %br
        - if @users.count > 0
          = link_to 'Participant session information', sessions_game_path(@game)
          %br
        - if @users.count > 0
          = link_to 'Participant context information', contexts_game_path(@game)
          %br