
.container
  .one_half.left
    %p.header DeVry Login Page
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate libero et orci porta, vel pellentesque neque laoreet. Donec vel vulputate neque. Proin dapibus felis sit amet tortor accumsan, eu iaculis dui bibendum. Nunc tristique odio quis libero commodo viverra. In efficitur massa id ligula porta viverra. Nam commodo diam ut sem efficitur lobortis. Curabitur non arcu at velit varius ultrices a eu turpis.
    .full
      = link_to 'Register', new_user_registration_url, class: 'green_button left'
  .one_half.right
    .subcontainer
      %p.header Sign In

      = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        .login_element
          = f.label :login, class: ''
          = f.text_field :login, class: '', placeholder: 'Playername or Email'
        .login_element
          = f.label :password, class: ''
          = f.password_field :password, class: '', placeholder: 'Password'
        - if @code
          .login_element
            = f.label :code, class: ''
            = f.text_field :group, class: '', placeholder: 'Play Code (optional)'

        - if devise_mapping.rememberable?
          .login_element
            = f.label :remember_me, class: ''
            = f.check_box :remember_me, class: ''

        .full
          = f.submit "Sign in", class: 'green_button right'
          = link_to 'Forgot your password?', new_user_password_url, class: 'green_button right'