
.content.full
  .container
    .one_half.left
      %p.header DeVry Login Page
      %P asdasds
      .full
        = link_to 'Register', new_user_registration_url, class: 'green_button left'
    .one_half.right
      %p.header Sign In

      = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        .login_element
          = f.label :login, class: ''
          = f.text_field :login, class: '', placeholder: 'Playername or Email'
        .login_element
          = f.label :password, class: ''
          = f.password_field :password, class: '', placeholder: 'Password'
        - if @code
          .login_element
            = f.label :code, class: ''
            = f.text_field :group, class: '', placeholder: 'Play Code (optional)'

        - if devise_mapping.rememberable?
          .login_element
            = f.label :remember_me, class: ''
            = f.check_box :remember_me, class: ''

        .full
          = f.submit "Sign in", class: 'green_button left'
          = link_to 'Forgot your password?', new_user_password_url, class: 'green_button right'

//.sign_up_container
//  .field_container
//    = link_to 'Connect with Facebook', user_omniauth_authorize_path(:facebook), class: 'floatleft'

//  .field_container
//    = link_to 'Connect with Google+', user_omniauth_authorize_path(:google_oauth2), class: 'floatleft'
