%h1='Select an event and attribute'
= simple_form_for @graph_params, :url => data_selection_data_path do |f|
  %p
  = f.select :key, @keys
  %p
  = f.select :time_range, @graph_params.time_options
  %p
  = f.select :bin, @graph_params.bin
  %p
  = f.submit 'update'

= simple_form_for @graph_params, :url => field_values_path do |f|
  %p
  = f.select :value_field, @fields
  %p
  = f.submit 'graph'


