%h2= @game.name
%br

%h3= 'Total Participants ' + @users.count.to_s 
%h3= 'Total Sessions Played ' + @session_count.to_s 
%h3= 'Average Session Length ' +  @average_time.to_s

=link_to 'Export as CSV', session_logs_data_path(params: params, format: 'csv')

%script
  != "playtimes = #{@playtimes.to_json};"
%script{src: '/assets/session_chart.js', type: 'text/javascript'}
%canvas{id: 'playtime_chart', width: 800, height: 500}


