= javascript_include_tag "dashboards"

.one_half.content.left
  .container
    %p.header.one_half.left
      Profile
    = link_to  edit_user_registration_url, class: "" do
      .edit_icon.right
    .content.full
      %p Username
      %p.small_text
        = current_user.player_name
      %p Email
      %p.small_text
        = current_user.email
      - if @orgs.count > 0
        %p Organizations
        %p.small_text
          - @orgs.each do |org|
            = org.name

.one_half.content.right
  .container
    .content.one_half.header.left Your Classes

    - if current_user.teacher?(@org) or current_user.admin?
      .content.one_half.header.right
        = link_to new_class_path do
          .green_button.right Create Class

    %ul.flagged_items
      - @classes.each do |item|
        - if can? :read, item
          %li.full
            = link_to  class_path(item), class: "left" do
              = item.name

            - if can? :manage, item
              .student_management
                = link_to  class_path(item), class: "" do
                  .small_arrow.right
                = link_to  edit_class_path(item), class: "" do
                  .edit_icon.right

.full.content.left
  .container
    %p.header Games
    .game
      - @games.each do |game|
        .game.content.one_fourth.left
          .subcontainer
            %p.header.center_text
              = game.name
            .content.full
              %select.class_dropdown.full
                - game.groups.classes.each do |c|
                  - if can? :read, c
                    %option{value: c.id}
                      = c.name

              .center
                = simple_form_for :dashboard, url: dashboard_path(game), id: :title, class: [:green_button,:full], method: :post do |f|
                  = f.hidden_field :class_id
                  = f.button :submit,"View Dashboard",class: "green_button full"