.one_half.content.right
  .container
    .element
      %h4 
        Classes
        = link_to 'Manage Classes', new_class_path
      - @classes.each do |item|
        = link_to item.name, class_path(item)

.one_half.content.left
  .container
    .element
      .title Games
      - @games.each do |item|
        #name 
          = item.name
          = link_to item.name, dashboard_path(item)
        - item.groups.classes.each do |c|
          - if can? :read, c
            #classes Classes
            = c.name