.row
  .welcome_or_error_container
    - if flash[:alert].present?
      %p.flashbox.alert
        = flash[:alert]

    -  if flash[:notice].present?
      %p.flashbox.error_text
        = flash[:notice]

    -  if flash[:error].present?
      %p.flashbox.error_text
        = raw format_flash(flash[:error])
  = yield

  .container.full.left
    .element
      .title 
        = "Welcome Back!, #{current_user.player_name}"
  .container.one_third.left
    .element
      %h4 Profile Stuff
  .container.two_thirds.left
    .element
      %h4 
        Classes
        = link_to 'Create Class', new_class_path
      - @classes.each do |item|
        = link_to item.name, class_path(item)
      - @games.each do |item|
        = item.name