.row
  .welcome_or_error_container
    - if flash[:alert].present?
      %p.flashbox.alert
        = flash[:alert]

    -  if flash[:notice].present?
      %p.flashbox.error_text
        = flash[:notice]

    -  if flash[:error].present?
      %p.flashbox.error_text
        = raw format_flash(flash[:error])
  = yield

  .container.full.left
    .element
      .title 
        = "Welcome, #{current_user.player_name}"
