<!DOCTYPE html>
<html lang="en">
<head>
  <title>Adage</title>
  <%= stylesheet_link_tag    "style" %>
  <%= stylesheet_link_tag    "font-awesome.min" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!-- typekit -->
  <script type="text/javascript" src="//use.typekit.net/tbz4lac.js"></script>
  <script type="text/javascript">
      try{Typekit.load();}catch(e){};
  </script>
</head>
<body>
  <% if user_signed_in? %>
    <div id="userSecret" style="display:none"><%= current_user.authentication_token %></div>
  <% end %>

  <div class="page_wrap">
    <div class="main_content">
      <div class="logo_container">
        <div class="gls_logo"></div>
      </div>

      <div class="welcome_or_error_container">

        <% if flash[:alert].present? %>
          <p class="flashbox alert"><%= flash[:alert] =%></p>
        <% end %>

        <% if flash[:notice].present? %>
          <p class="flashbox error_text"><%= flash[:notice] =%></p>
        <% end %>

        <% if flash[:error].present? %>
          <p class="flashbox error_text"><%= flash[:error] =%></p>
        <% end %>
      </div>
        

      <%= yield %>

      <div class="small_logo">
          <p class="left poweredby">Powered By</p>
          
          <a href="http://www.adageapi.org" target="_blank">
              <p class="logotype left">ADAGE</p> <p class="betatype left">Beta</p>
          </a>
      </div>
    </div>
  </div>

  <div class="clear"></div>

</body>
</html>
