<!DOCTYPE html>
<html lang="en">
<head>
  <title>Adage</title>
  <%= stylesheet_link_tag    "bootstrap" %>
  <%= stylesheet_link_tag    "graph" %>
  <%= stylesheet_link_tag    "detail" %>
  <%= stylesheet_link_tag    "main" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!-- typekit -->
  <script type="text/javascript" src="//use.typekit.net/tbz4lac.js"></script>
  <script type="text/javascript">
      try{Typekit.load();}catch(e){};
  </script>
</head>

<body>

  <% if user_signed_in? %>
    <div id="userSecret" style="display:none"><%= current_user.authentication_token %></div>
  <% end %>

  <div class="page_wrap">
    <div id="nav">
      <%= render "welcome/nav" %>
    </div>
    <% if flash[:alert].present? %>
      <div class="flashbox alert"><%= flash[:alert] =%></div>
    <% end %>

    <% if flash[:notice].present? %>
      <div class="flashbox notice"><%= flash[:notice] =%></div>
    <% end %>

    <% if flash[:error].present? %>
      <div class="flashbox error"><%= flash[:error] =%></div>
    <% end %>

    <%= yield %>
  </div>

  <div class="footer"></div>
  <div class="clear"></div>

</body>
</html>
