!!! 5
%html
%head
  %title Adage
  // stylesheet_link_tag    "graph"
  // stylesheet_link_tag    "detail"
  = stylesheet_link_tag    "logger"
  = stylesheet_link_tag    "font-awesome.min"
  // stylesheet_link_tag    "rickshaw"
  = stylesheet_link_tag    "adage"
  = javascript_include_tag "application"
  = javascript_include_tag "sidebar"
  = csrf_meta_tags

  <!-- typekit -->
  %script{ :type=> "text/javascript", :src=>"//use.typekit.net/tbz4lac.js"}
  :javascript
      try{Typekit.load();}catch(e){};

%body
  .side_navigation
    %ul.top

      -if can? :manage, Game
        = link_to games_path, class: :games do
          %li
            %span.icon_home


      -if can? :manage, Game
        = link_to homepage_path, class: :games do
          %li
            %span.icon_dashboard

      %a.edit
        %li
          %span.icon_edit

      .edit_hidden
        %a Click here to edit your profile

      -if can? :manage, Game
        = link_to games_path, class: :games do
          %li
            %span.icon_games{class: ("icon_active" if current_page? games_path)}

      .games_hidden
        -Game.first(5).each do |game|
          -if can? :read, game
            = link_to game do
              = game.name
              = link_to games_path do
                %span.white View All

      -if can? :manage, Group
        = link_to groups_path, class: :groups do
          %li
            %span.icon_groups{class: ("icon_active" if current_page? groups_path)}

      .groups_hidden
        -Group.first(5).each do |group|
          -if can? :read, group
            = link_to group do
              = group.name
              = link_to groups_path do
                %span.white View All
          
      -if can? :read, Organization
        = link_to organizations_path, class: :groups do
          %li
            %span.icon_orgs{class: ("icon_active" if current_page? organizations_path)}
      %a.tools
        %li
          %span.icon_tools

      .tools_hidden
        %a Find User

      -if current_user.admin?
        = link_to admin_users_path do
          %li
            %span.icon_admin{class: ("icon_active" if current_page? admin_users_path)}

      %a.divider
        %li.divider

      %a.tools
        %li
          %span.icon_tools
          
    = link_to destroy_user_session_url, method: :delete ,class: :bottom do
      %ul
        %li
          %span.icon_logout 
    
  - if user_signed_in? 
    #userSecret{style: "display:none"}
      = current_user.authentication_token

  .page_wrap
    .main_content
      .welcome_or_error_container
        - if flash[:alert].present?
          %p.flashbox.alert
            = flash[:alert]

        -  if flash[:notice].present?
          %p.flashbox.error_text
            = flash[:notice]

        -  if flash[:error].present?
          %p.flashbox.error_text
            = raw format_flash(flash[:error])
        .small_logo.right
          %a{href: "http://www.adageapi.org", target: "_blank"}
            %p.logotype.left ADAGE
      = yield
  .clear
